{% extends "layout.html" %}
{% block news %}
    <form id="form-bundle" action="" method="post" class="margin-top-20">
        {% for news_company in news_companies %}
            <input class="style-button padding-10 {{ 'style-button-fill' if selected_index == loop.index }}" type="submit" name="action" value="{{ news_company['company'] }}">
        {% endfor %}
    </form>

    <div class="block-news">
        {% for news in arr_news %}
        <div class="card margin-10">
            <div class="card-body padding-0">
                <h6 class="card-title bg-color padding-10">{{ news['date'] }}</h6>
                <p class="card-text padding-left-10 padding-bottom-10">{{ news['headline'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock news %}